#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#signUp {
  border: 1px solid grey;
  padding: 20px;
  margin: 5%;
  background: linear-gradient(rgba(128, 128, 128),rgba(255, 255, 255));
  opacity: 1;
}
#authenticate {
  border: 1px solid grey;
  padding: 20px;
  margin: 5%;
  background: linear-gradient(rgba(128, 128, 128),rgba(255, 255, 255));
  opacity: 1;
}
